{% extends 'base.html.twig' %}

{% block title %}Kamer{% endblock %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
    <h1>Kamer</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ kamer.id }}</td>
                <th>Soort</th>
                <td>{{ kamer.soort }}</td>
                {% for kamer in kamer.extras %}
                    <th>extras</th>
                    <td>{{ kamer.extras }}</td>
                {% endfor %}
                <th>Prijs</th>
                <td>{{ kamer.prijs }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('kamer_index') }}">back to list</a>

    <a href="{{ path('kamer_edit', {'id': kamer.id}) }}">edit</a>

    {{ include('kamer/_delete_form.html.twig') }}
    {% else %}
        <h1>Geen toegang</h1>
    {% endif %}
{% endblock %}
